<div class="container content-main">
<mat-card>
    <mat-card-content >
<div class="content-conversation">
    <ng-container *ngFor="let message of messages | async">

        <div class="message" [ngClass]="{'from': message.sentBy === 'bot',
                                      'to': message.sentBy === 'user'}">
          <p class="message-content">{{ message.content }}</p>
        </div>

    </ng-container>
</div>
        <div class="row">
            <div class="col-12">
                <mat-form-field>
                    <input matInput placeholder="Type your message ..." [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
                </mat-form-field>
            </div>
            <div class="col-12">
                <button mat-raised-button color="accent" (click)="sendMessage()">Send</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
</div>